# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MiddleROV2Surface/Release/MiddleROV2Surface.with_bootloader.hex
MiddleROV2Surface/Release/MiddleROV2Surface.ino.with_bootloader.hex
MiddleROV2Surface/Release/MiddleROV2Surface.ino.hex
MiddleROV2Surface/Release/MiddleROV2Surface.ino.elf
MiddleROV2Surface/Release/MiddleROV2Surface.hex
MiddleROV2Surface/Release/MiddleROV2Surface.elf
MiddleROV2Surface/Release/board.buildinfo
MiddleROV2Surface/MiddleROV2Surface.vcxproj.user
MiddleROV2Surface/MiddleROV2Surface.vcxproj.filters
MiddleROV2Surface/Debug/MiddleROV2Surface.with_bootloader.hex
MiddleROV2Surface/Debug/MiddleROV2Surface.ino.with_bootloader.hex
MiddleROV2Surface/Debug/MiddleROV2Surface.ino.hex
MiddleROV2Surface/Debug/MiddleROV2Surface.ino.elf
MiddleROV2Surface/Debug/MiddleROV2Surface.hex
MiddleROV2Surface/Debug/MiddleROV2Surface.elf
MiddleROV2Surface/Debug/board.buildinfo
.vs/MiddleROV2Surface/v15/.suo
